<header>
    <div class="logo">
        <a href="{{ shop.url }}"><img src="{{ 'logo.png' | asset_url }}" alt="Store logo"></a>
    </div>
    <button class="menu-toggle" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <nav>
        <ul class="nav-menu">
            <li><a href="{{ shop.url }}#home">Home</a></li>
            <li><a href="{{ shop.url }}#products">Products</a></li>
            <li><a href="{{ shop.url }}#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="header-icons">
        {% render 'cart' %}
    </div>
</header>
